* {
  box-sizing: border-box;
}


body {

  margin: 0;
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;

}



.dashboard {

  padding: 15px;
  width: 100%;

}




.header h1 {

  font-size: 24px;
  margin: 0;

}


.header p {

  color: #777;

}





.filtros {

  display: flex;
  gap: 15px;
  margin: 20px 0;

}


.filtros div {

  flex: 1;

}



label {

  font-weight: bold;
  font-size: 14px;

}



select {

  width: 100%;
  height: 40px;

  border-radius: 8px;
  border: 1px solid #ddd;

  padding: 0 10px;

  background: white;

}







.cards {


  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 15px;


}



.cards div {


  background: white;

  padding: 18px;

  border-radius: 12px;


  box-shadow:
    0 3px 10px rgba(0, 0, 0, .08);


}



.cards span {

  display: block;

  color: #777;

  font-size: 13px;

}



.cards strong {


  display: block;

  margin-top: 10px;

  font-size: 18px;


}













thead {


  background: #111;

  color: white;


}



th {


  padding: 12px;

  text-align: left;

  font-size: 12px;


}



td {


  padding: 12px;

  border-bottom: 1px solid #eee;

  font-size: 12px;


  white-space: nowrap;


}



.positivo {

  color: green;

  font-weight: bold;

}



.negativo {

  color: red;

  font-weight: bold;

}


small {

  display: block;

  font-size: 10px;

}





.loading {


  text-align: center;

  padding: 50px;

}







/* MOBILE */

@media(max-width:768px) {


  .dashboard {

    padding: 10px;

  }



  .header h1 {

    font-size: 20px;

  }




  .filtros {

    gap: 8px;

  }




  .cards {


    grid-template-columns: repeat(2, 1fr);

    gap: 10px;


  }



  .cards div {


    padding: 12px;

  }



  .cards strong {


    font-size: 15px;


  }










  th,
  td {


    padding: 10px;

    font-size: 11px;


  }



}






@media(max-width:400px) {


  .cards {

    grid-template-columns: 1fr;

  }



  .header h1 {

    font-size: 18px;

  }



}